[ServerConfig]
# Port for the file server to listen on that other nodes can connect to
listen_port = "8080"
# Rescan time in seconds, full rescan of the filesystem in x seconds
rescan = 30
storagetype=s3

[StorageS3]
key=""
secret=""
region=""

[StorageGDrive]
key=""
secret=""
region=""

[Database]
type = "mysql"
# DSN Takes the following form:
dsn = "dbusername:dbpassword@tcp(localhost:3306)/databasename?autocommit=true"

# The UID and GID for each directory enforces the files in that directory to be owned by that particular user
# That allows for mismatched UID / GIDs between servers

[listeners]
	[listeners.MonitorMe1]
	uid = 504
  	gid = 504
  	directory = "/data/directory/to/monitor"
	key = "monitorme1_directory"
	secret = "aslkdfjaslfjka;sljd"
	storagetype="s3"
	bucket="fssync"
	#Basepath is used if you are using only 1 bucket to seperate all downloads into different base subdirectories
	basepath="/fssync"

	[listeners.Bootstrapped]
	uid = 504
  	gid = 504
  	directory = "/data/directory/to/monitorthistoo"
	key = "monitormethistoo_directory"
	secret = "oiweurldkfj"
	storage="s3"
	bucket="fssync"
	#Basepath is used if you are using only 1 bucket to seperate all downloads into different base subdirectories
	basepath="/fssync"