[ServerConfig]
# Port for the file server to listen on
listen_port = "44444"
# Rescan time in seconds
rescan = 30
# The filesystem storage to be used
storagetype="s3"
# The location for the log file (can be stdout or a path to file)
#log_location="stdout"
log_location="/var/log/gosync/gosync.log"

# Log levels are (0 = debug, 1 = info, 2 = warning, 3 = error, 4 = fatal)
# The lower the log level the more information is printed (level 4 fatal causes the application to exit)
log_level=0

[StorageS3]
key=""
secret=""
region=""

[StorageGDrive]
key=""
secret=""
region=""

[Database]
type = "mysql"
# DSN Takes the following form:
dsn = "dbusername:dbpassword@tcp(localhost:3306)/databasename?autocommit=true"

# The UID and GID for each directory enforces the files in that directory to be owned by that particular user
# That allows for mismatched UID / GIDs between servers

[listeners]
	[listeners.MonitorMe1]
	uid = 504
  	gid = 504
  	directory = "/data/directory/to/monitor"
	key = "monitorme1_directory"
	secret = "aslkdfjaslfjka;sljd"
	storagetype="s3"
	bucket="fssync"
	#Basepath is used if you are using only 1 bucket to seperate all downloads into different base subdirectories
	basepath="/fssync/MonitorMe1"

	[listeners.Bootstrapped]
	uid = 504
  	gid = 504
  	directory = "/data/directory/to/monitorthistoo"
	key = "monitormethistoo_directory"
	secret = "oiweurldkfj"
	storage="s3"
	bucket="fssync"
	#Basepath is used if you are using only 1 bucket to seperate all downloads into different base subdirectories
	basepath="/fssync/Bootstrapped"